<div class="mainContent">
      <h1>
        Welcome to {{ title }}<br>
          {{name}}
      </h1>
        <h3>Json exapmle one</h3>
        <hr>
        <p>{{results1.a}}</p>
        <hr>
        <p>{{results1.b}}</p>
         <hr>
        <h3>Json exapmle two</h3>
        <hr>
        <p>{{results2.fruit}}</p>
        <hr>
        <p>{{results2.size}}</p>
         <hr>
        <p>{{results2.color}}</p>
        <hr>
        <h3>Json example three</h3>
        <hr>
        <div *ngFor="let res of results3">
            <div *ngIf=" res.name  == 'Spencer Shannon'">
            <ul>
                <li>Name: {{res.name}}</li>
                <li>Age: {{res.age}}</li>
                <li>Friends: </li>

                <span  *ngFor="let friend of res.friends">
                    {{friend.name}} &nbsp;
                </span>

            </ul>
            </div>
        </div>
</div>



